.mainbox {
    width: 105vw;
    margin-left: 50vw;
    /* background-color: #191722; */
    margin-top: 10px;
    height: 55vh;
    overflow: auto;
}



.image {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

.each {
    display: flex;
    margin-left: 2%;
    margin-bottom: 2vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; /* adds a 20px gap between the items */
    
}

.mainheadtext {
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 3vw;
    line-height: 65%;
    letter-spacing: 0.02em;
    
    color: rgba(126, 69, 195, 0.943);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nametext {
    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 40%;
    letter-spacing: 0.01em;
    margin-right: 1.4%;
    margin-left: 1%;

    
    color: rgba(218, 198, 241, 0.943);
    text-shadow: 0px 4px 4px rgba(211, 121, 216, 0.25);
}
.authortext {
    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 1.4vw;
    line-height: 40%;
    letter-spacing: 0.01em;
    
    color: rgba(183, 146, 229, 0.943);
    text-shadow: 0px 4px 4px rgba(211, 121, 216, 0.25);
}